AWS_REGION="eu-west-1"
BUCKET_NAME="my-unique-bucket-name"
STACK_NAME="MyAwesomeApp"
CREATE_VPN_ENDPOINT="false"
SERVER_CERT_ARN="arn:aws:acm:xxxxx"
CLIENT_CERT_ARN="arn:aws:acm:xxxxx"
DOMAIN_ADMIN_PASSWORD=""
WORKSTATION_CONNECTION_MANAGER="teradici"
WORKSTATION_ACCESS_CIDR="0.0.0.0/0"
